header { 
    width: 100%; 
    background-color: aqua; 
} 
body,html{
/*background:0 36px repeat-y url(//img.alicdn.com/imgextra/i3/O1CN01PaQurJ1QgnAICTCgg_!!6000000002006-2-tps-1490-2984.png);*/
background-size:cover;overflow-x:hidden
}
body{
color:#3C3C3C;-webkit-font-smoothing:antialiased
}
body a{
color:#3C3C3C
}
body a:hover{
color:#F40;text-decoration:none
}
body a:focus{
outline:0
}
body.disable-hover{
pointer-events:none
}
div{
	font-size:20px;
}
.s-top-left {
    position: absolute;
    left: 50px;
    top: 6px;
    z-index: 100;
    height: 60px;
    padding-left: 24px;
}
.s-top-right {
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 100;
    height: 60px;
    padding-right: 24px;
}
.s-top-center {
    position: absolute;
    top: 6px;
    left: 35%;
    z-index: 100;
    padding-right: 24px;
	width:40%;
	height:20px;
}
.s-main1 {
    /*width: 2000px;
    margin: 0 auto;*/
	left: 100px;
	/*right: 100px;*/
    background: #fff;
    /*overflow: hidden;*/
	position: absolute;
    height: 60px;
    z-index: 100;
    padding-right: 24px;
    top: 60px;
}
.s-main {
    position: absolute;
    left: 5%;
    top: 60px;
    z-index: 100;
    height: 60px;
    padding-right: 24px;
}
.t-ctn {
	width: 100%;
	overflow-x: auto;
}

.t-ctn .s-ctn {
	/*height: 300px;
	white-space: nowrap;*/
	font-size: 0;
}

.t-ctn .s-ctn div {
	font-size: 14px;
	box-sizing: border-box;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;
	width: 350px;
	height: 100%;
}
.noLine {
	min-width: 60rpx;
	align-self: baseline;
	flex-shrink: 0;
	display: inline-block;
}
#head1 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 768px;
    cursor: default;
}
#head {
    height: 41px;
    font-size: 12px;
    /*background: url(/static/nav-bg.png) 0 0 repeat-x;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #333;
    text-indent: 10px;
    min-width: 600px;
    border-bottom: #666 solid 1px;
}
